{% extends 'SuperStock/base.html' %}

{% block content %}
    <div>
        <a href="{% url 'descuentos_list' %}"><h6>&lt; volver</h6></a>
        <h3>Detalles de descuento</h3>
        <div>
            <ul>
                <h4><li>{{ descuentos.id_productos }} - {{ descuentos.descuento_tipo.porcentaje }}%</li></h4>
            </ul>
        </div>
        <div>
            <h4>Tipo de descuento: {{ descuentos.descuento_tipo }}</h4>
            <h4>Fecha de inicio: {{ descuentos.fecha_inicio }}</h4>
            <h4>Fecha de fin: {{ descuentos.fecha_fin }}</h4>
            <h4>Descripcion: {{ descuentos.descripcion }}</h4>
        </div>
    </div>
{% endblock %}