{% extends 'SuperStock/base.html' %}

{% block content %}
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active bg-success" aria-current="page" href="{% url 'horarios_list' %}">Lista</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'horarios_new' %}">Agregar</a>
            </li>
        </ul>                
        <h3>Tabla de horarios</h3>
        <form method="post" action="{% url 'horarios_list' %}">
            {% csrf_token %}
                <div style="display: flex; justify-content: space-between; margin-right: 5%;">

                    <div>
                        <label for="id_horarios">ID</label><br>
                        <input type="number" id="id_horarios" name="id_horarios" value="" placeholder="Buscar...">
                    </div>

                    <div>
                        <label for="desde">Inicio</label><br>
                        <input type="time" id="desde" name="desde" value="" placeholder="Buscar...">
                    </div>

                    <div>
                        <label for="hasta">Fin</label><br>
                        <input type="time" id="hasta" name="hasta" value="" placeholder="Buscar...">
                    </div>

                    <div>
                        <label for="in_active">Activo?</label><br>
                        <label for="si">si</label>
                        <input type="checkbox" id="si" name="in_active" value="si"><br>
                        <label for="no">no</label>
                        <input type="checkbox" id="no" name="in_active" value="no">
                    </div>

                    <div>
                        <input type="submit" class="buttonUwu" value="Aplicar filtros"><br>
                        <button class="buttonUwu" style="margin-top: 10px;" type="button"><a href="{% url 'horarios_list' %}">Resetear</a></button>
                    </div>

                </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Fin</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
                {% for horario in horarios %}
                    <tbody>
                        <tr>
                            <td scopes="row"><a href="{% url 'horarios_detail' pk=horario.id_horarios %}">{{ horario.id_horarios }}</a></td>
                            <td>{{ horario.desde }}</td>
                            <td>{{ horario.hasta }}</td>
                            <td>{% if horario.in_active == True %}activo{% else %}inactivo{% endif %}</td>
                            <td><button type="button" class="buttonUwu"><a href="{% url 'horarios_edit' pk=horario.id_horarios %}">Edit</a></button>
                                {% if horario.in_active == True %}<button type="button" class="buttonUwuu"><a href="{% url 'horarios_delete' pk=horario.id_horarios %}">Borrar</a></button>{% else %}
                                <button type="button" class="buttonUwuuu"><a href="{% url 'horarios_restore' pk=horario.id_horarios %}">Restaurar</a></button>{% endif %}
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
        </table>
    </div>
{% endblock %}
